
# we need access to the compiler, so we'll switch our compilation path to its
# source:
--path: "$nim"
--path: "core"
--path: "editor"
--path: "app"
--path: "."
# see https://nim-lang.org/docs/nimc.html#compiler-usage-commandminusline-switches
