# NimEdit Configuration File
# Colors are specified as hex integers (0xRRGGBB).
# Font styles: Normal, Bold, Italic, BoldItalic

[Theme]
editorFont = "DejaVuSansMono"
editorFontSize = 15
uiFont = "FreeSans"
uiFontSize = 12
uiXGap = 5
uiYGap = 5
uiActiveElement = 0xFFA500
uiInactiveElement = 0xC0C0C0
background = 0x292929
foreground = 0xfafafa
cursor = 0xfafafa
cursorWidth = 2
lines = 0x898989
selected = 0x000000
highlighted = 0x440000
showLines = true
showIndentation = true
indentation = 0x898989
tabWidth = 2
showBracket = true
showMinimap = true
bracket = 0xFF1493
consoleAfter = 900
consoleWidth = 40
showLigatures = false
nimsuggestPath = ""

[Tokens]
None = 0xffffff
Whitespace = 0xffffff
DecNumber = 0x00FFFF
BinNumber = 0x00FFFF
HexNumber = 0x00FFFF
OctNumber = 0x00FFFF
FloatNumber = 0x00FFFF
Identifier = 0xffffff
Keyword = 0xFFFF00
StringLit = 0xFFA500
LongStringLit = 0xFFA500
CharLit = 0xFFA500
Backticks = 0xFFA500
EscapeSequence = 0x808080
Operator = 0xffffff
Punctuation = 0xffffff
Comment = "0x44FF44, Italic"
LongComment = 0xFF1493
RegularExpression = 0xFF00FF
TagStart = 0xFFFF00
TagStandalone = 0xFFFF00
TagEnd = 0xFFFF00
Key = 0xff44ff
Value = 0x00FFFF
RawData = 0xFF00FF
Assembler = 0xFF00FF
Preprocessor = 0xFFFF00
Directive = 0xFFFF00
Command = 0xFFFF00
Rule = 0xFFFF00
Link = "0x00FFFF, Bold"
Label = 0x00FFFF
Reference = 0x00FFFF
Text = 0xffffff
Other = 0xffffff
Red = 0xFF0000
Green = 0x44FF44
Yellow = 0xFFFF00
Breakpoint1 = 0xFF0000
Breakpoint2 = 0xFFA500
LineActive = 0xFFFF00

[Keys]
Left = Left
Right = Right
Up = Up
Down = Down
PageUp = PageUp
PageDown = PageDown

"Ctrl+Left" = LeftJump
"Ctrl+Right" = RightJump
"Ctrl+Up" = UpJump
"Ctrl+Down" = DownJump

"Shift+Left" = LeftSelect
"Shift+Right" = RightSelect
"Shift+Up" = UpSelect
"Shift+Down" = DownSelect

"Shift+Ctrl+Left" = LeftJumpSelect
"Shift+Ctrl+Right" = RightJumpSelect
"Shift+Ctrl+Up" = UpJumpSelect
"Shift+Ctrl+Down" = DownJumpSelect

Enter = Enter
Backspace = Backspace
"Shift+Backspace" = DelVerb
Del = Del

"Ctrl+C" = Copy
"Ctrl+X" = Cut
"Ctrl+V+KeyReleased" = Paste

"Ctrl+Space" = AutoComplete
"Ctrl+Z" = Undo
"Ctrl+Shift+Z" = Redo

"Ctrl+A" = SelectAll
"Ctrl+B" = SendBreak

"Ctrl+E" = "InsertPromptSelectedText e "
"Ctrl+G" = "InsertPrompt goto "
"Ctrl+F" = "InsertPromptSelectedText find "
"Ctrl+H" = "InsertPromptSelectedText replace "
"Ctrl+U" = UpdateView
"Ctrl+O" = OpenTab
"Ctrl+S" = SaveTab
"Ctrl+N" = NewTab
"Ctrl+Q" = CloseTab
"Ctrl+W" = MoveTabRight
"Ctrl+Shift+W" = MoveTabLeft

"Ctrl+M" = Declarations
F3 = NextEditLocation

F1 = ShowHelp
F2 = "Nimsuggest dus"
Esc = SwitchEditorPrompt
"Shift+Esc" = SwitchEditorConsole

"Ctrl+Tab" = NextBuffer
"Ctrl+Shift+Tab" = PrevBuffer

Tab = Indent
"Shift+Tab" = Dedent

F5 = "NimScript pressedF5"
F6 = "NimScript pressedF6"
F7 = "NimScript pressedF7"
F8 = "NimScript pressedF8"
F9 = "NimScript pressedF9"
F10 = "NimScript pressedF10"
F11 = "NimScript pressedF11"
F12 = "NimScript pressedF12"
